// @import '~antd/lib/style/themes/default.less';
// @import '~@/utils/utils.less';

.bodyDiv{
  width:100%;
  margin: 25px auto 0;
  border-top: 1.5px solid #235C98;
}
h1{
  font-weight: 800;
  font-size: 22px;
}
.detailzhh{
  height: 150px;
  width: 1200px;
  float: left;
  .logogwzc{
    float: left;
    height: 85px;
    width: 175px;
    // margin-left: 20px;
    border: 1px solid #dfdfdf;
    img{
      width:130px;
      margin-top: 20px;
      margin-left: 22px;
    }
  }
  .logosl{
    float: left;
    height: 85px;
    width: 260px;
    margin-left: 27px;
    border: 1px solid #dfdfdf;
    img{
      width: 210px;
      margin-top: 20px;
      margin-left: 22px;
    }
  }
  .logotfs{
    float: left;
    height: 85px;
    width: 330px;
    margin-left: 27px;
    border: 1px solid #dfdfdf;
    img{
      width: 285px;
      margin-top: 12px;
      margin-left: 17px;
    }
  }
  .logobsw{
    float: left;
    height: 85px;
    width: 245px;
    margin-left: 27px;
    border: 1px solid #dfdfdf;
    img{
      width: 200px;
      margin-top: 10px;
      margin-left: 20px;
    }
  }
  // border: 1px solid #BFBFBF;
}
.detailjr{
  width: 1200px;
  height: 150px;
  float: left;
  // border: 1px solid #BFBFBF;
  .logosl{
    float: left;
    height: 85px;
    width: 260px;
    // margin-left: 27px;
    border: 1px solid #dfdfdf;
    img{
      width: 210px;
      margin-top: 20px;
      margin-left: 22px;
    }
  }
}
.detailwl{
  width: 1200px;
  height: 150px;
  float: left;
  // border: 1px solid #BFBFBF;
  .logojka{
    float: left;
    height: 85px;
    width: 308px;
    // margin-left: 27px;
    border: 1px solid #dfdfdf;
    img{
      width: 264px;
      margin-top: 13px;
      margin-left: 25px;
    }
  }
  .logocdzx{
    float: left;
    height: 85px;
    width: 240px;
    margin-left: 27px;
    border: 1px solid #dfdfdf;
    img{
      width: 185px;
      margin-top: 10px;
      margin-left: 20px;
    }
  }
}
.content {
  width: 1200px;
  margin:0 auto;
  opacity:1;
  margin-top: 20px;
  .top{
    span{
      color: #000;
    }
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #D5D5D5;
  }
  .black{
    background-color:black;
  }
  // .logo:hover{
  //   // border: 2px solid red;
  //   cursor:pointer;  
  // }
  // .logo{
  //   float: left;
  //   height: 85px;
  //   width: 175px;
  //   margin-right: 20px;
  //   border: 1px solid #dfdfdf;
  //   // img{
  //   //   height: 50px;
  //   // }
  // }
}


