@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.bodyDiv{
  a{
    color: #000;
  }
  width:100%;
  margin: 25px auto 0;
  border-top: 1.5px solid #235C98;
  .conn{
    width: 1200px;
    margin: 0 auto;
    .top{
      span{
        color: #000;
      }
      height: 40px;
      line-height: 40px;
      // border-bottom: 1px solid #D5D5D5;
    }
    .info{
      margin-top: 15px;
      .list{
        float: left;
        width: 73%;
        .introduce{
          height: 200px;
          u:hover{
            background:red;
            cursor:pointer;  
          }
          u{
            text-align: center;
            display: block;
            height: 34px;
            line-height: 34px;
            margin: 0 auto;
            background: #f73;
            color: #fff;
            width: 199px;
            font-size: 13px;
            border-radius: 100px;
            text-decoration: none;
            margin-top: 15px;
          }
          .introduce_l{
            float: left;
            width: 400px;
            
          }
          .introduce_r{
            height: 200px;
            // margin-top: 100px;
            margin-left: 250px;
            font-size: 30px;
            float: left;
            width: 200px;
          }
        }
      }
      .sidebar{
        float: left;
        width: 22%;
        height: 430px;
        margin-left: 3%;
        background-color: #F2F4F6;
        }
      }
    }
  }
  .evaluate{
    .eva_top{
      height: 100px;
      .top_l{
        text-align: center;
        width: 90px;
        height: 100px;
        float: left;
        .num{
         line-height: 50px;
         font-size: 40px;
         color: #E4393C;
         font-family: arial;
        }
      }
      .top_r{
        float: left;
        margin-left: 50px;
        width: 600px;
      }
    }
    .con{
      .eva_title{
        height: 26px;
        background-color: #F2F4F666;
        color: #235c98;
      }
      .list_con{
        border-top: 1px solid #D5D5D5;
        height: 80px;
        margin-bottom: 20px;
        margin-top: 20px;
        p{
          color: #000;
        }
        .list_con_l{
          float: left;
          width: 560px;
          height: 90px;
        }
        .list_con_r{
          text-align: center;
          float: left;
          width: 100px;
          height: 80px;
          margin-left: 60px;
          p{
            margin-top: 40px;
          }
        }
      }
    }
  }