@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

// .indexBody{
//   width: 1200px;
//   margin: 0 auto;
// }
.banner {
  width: 100%;
  height: 480px;
  margin:0 auto;
  margin-top: 2%;
  text-align: center;
}
.content {
  width: 1200PX;
  // height: 800px;
  margin:0 auto;
  text-indent: 2em;
  .title{
    height:150px;
    text-align: center;
    line-height: 30px;
    img{
      margin-left: 25px;
    }
  }
  .info{
    height: 640px;
    margin-left: 30px;
    // border: 2.5px solid #ffffff;
    // .info_box:nth-child(2){
    //   pointer-events:none;
    //   cursor: no-drop ;
    // }
    .info_box:hover{
      border: 2px solid #235c98;
    }
    .info_box{
      height: 196px;
      width: 550px;
      // border: 1px solid #BFBFBF;
      border: 1px solid #FFF;
      float: left;
      margin-left: 25px;
      margin-bottom: 20px;
      p{
        color: #000000;
      }
      .info_box_top{
        margin-top: 25px;
        height: 140px;
        .info_box_t_l{
          width: 200px;
          float: left;
          // img{
          //   width: 120px;
          // }
        }
        .info_box_t_r{
          width: 300px;
          margin-left: 20px;
          float: left;
          p{
            text-indent:0em;
          }
          .info_p_title{
            margin-bottom: 10px;
            font-weight: 800;
            font-size: 24px;
          }
          .info_p_cont{
            font-size: 16px;
            color: #333;
          }
        }
      }
      .info_box_bot{
        height: 24px;
        font-size: 12px;
        text-align: right;
        line-height: 5px;
        p{
          color: #979797;
        }
      }
    }
  }
}
.detailzh{
  height: 1000px;
  border: 1px solid #BFBFBF;
  text-align : center;
}
.detailjr{
  height: 1000px;
  border: 1px solid #BFBFBF;
  text-align : center;
}
.detailwl{
  height: 1000px;
  border: 1px solid #BFBFBF;
  text-align : center;
}


