.bodyDiv{
    a{
      color: #000;
    }
    width:100%;
    margin: 25px auto 0;
    border-top: 1.5px solid #235C98;
    .content {
        width: 1200px;
        margin:0 auto;
        opacity:1;
        margin-top: 20px;
    .top{
        span{
          color: #000;
        }
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #D5D5D5;
      }
    }
.main{
    font-family: 'Microsoft Yahei';
    // width: 85%;
    width: 1200px;
    // height: 700px;
    // background-color: black; 
    margin: 0 auto;
    margin-top: 20px;
    // border: 1px solid;

    :global(.ant-tabs-tab){
        font-size: 16px;
    }

    .menu{
        font-size: 14px;
        width: 15%;
        height: 100%;
        float: left;
        // background-color: yellow;
        .menuTitle{
            font-weight: 500;
            color: red;
            margin-left: 26px;
            margin-top: 10px;
            cursor: pointer;
        }
        .subMenu{
            li{
                margin: 0 auto;
                width: 100%;
                a{
                    color: #595959;
                }
                margin-top: 8px;
                
            }
            width: 100%;
            // font-size: 16px;
        }
    }

    .content{
        width: 80%;
        height: 100%;
        // float: left;
        margin:0 auto;
        // margin-left: 2%;
        // background-color: gray;
        .contentList{
            margin-bottom: 20px;
            // height: 160px;
            border: 1px solid #e7e7e7;
            border-radius: 3px;

            .contentHead{
                height: 40px;
                border-bottom: 1px solid #e7e7e7;
                line-height: 40px;
                .contentTitle{
                    width: 20%;
                    float: left;
                    
                    // text-align: left;
                    margin-left: 10px;
                    font-weight: 500;
                }
                .more{
                    // width: px;
                    text-align: right;
                    margin-right: 10px;
                    font-size: 10px;
                    cursor: pointer;
                    // float: right;
                    a{
                        color: #595959;
                    }
                }
            }
            .contentContent{
                margin-top: 2%;
                width: 100%;
                padding-right: 20px;
                padding-left: 20px;
                font-size: 16px;
                padding-bottom: 10px;
                

                .contentLink{
                    margin: 0 33px;
                    // width: 10%;
                    // text-align: center;
                    text-align: left;
                    // background-color: #595959;
                    height: 40px;
                    // line-height: 40px;
                    float: left;
                    // margin-top: 3px;
                    a{
                        color: #595959;
                        &:hover{
                            color:rgb(88, 152, 221);
                        }
                    }
                }
            }
            
        }
    }
}
}