.layOut {
  background: #f0f2f5;
  width: 1080px;
  height: 1501px;
  margin: auto;
  text-align: center;
}

.firstCardTitle {
  float: left;
}

.cardTitle {
  font-weight: 500;
  padding-left: 10px;
}

.chartLayout {
  height: 422px;
}

.listLayout {
  height: 400px;
  margin-top: 24px;
}

.centerLayout {
  height: 302px;
  margin-top: 24px;
}
.localLayout {
  height: 216px;
  margin-top: 24px;
}

.ststCardCtnt {
  margin-left: 54px;
}
.divBar {
  float: left;
  width: 170px;
  height: 60px;
  border-radius: 4px;
  line-height: 60px;
  padding-right: 10px;
}

.barLeftContent {
  float: left;
  width: 48px;
}

.barRightContent {
  padding-left: 4px;
  float: left;
  width: 108px;
}

.icon {
  font-size: 40px;
  margin: 20px 10px 20px 10px;
}

.statisticText {
  padding-top: 6px;
  margin-bottom: 0;
  height: 60px;
  float: left;
}
.valueStyle {
  padding-top: 0px;
}

.chartIcon {
  margin-top: -5px;
}

.barCardBody {
  padding: 24px 0 10px 0;
}

.offenFun {
  width: 196px;
  float: left;
  color: black;
  background-color: #f1f2f3;
  margin: 5px 10px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-weight: 600;
  &:hover {
    color: #ffffff;
    background-color: #2f9ce7;
  }
}

.statisticCard {
  width: 840px;
  float: left;
  height: 422px;
}

.funcCard {
  width: 216px;
  float: left;
  height: 422px;
  margin-left: 24px;
  background-color: #ffffff;
}

.myInfo {
  width: 528px;
  float: left;
  height: 400px;
  background-color: #ffffff;
}

.myNotice {
  margin-left: 24px;
  width: 528px;
  float: left;
  height: 400px;
  background-color: #ffffff;
}
.listItem {
  padding: 5px;
}
.newsClass {
  float: left;
  text-align: center;
  padding-left: 5px;
  width: 72px;
  color: rgba(0, 0, 0, 0.85);
}
.newsTitle {
  float: left;
  width: 395px;
  text-align: left;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.85);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  // &:hover {
  //   cursor: pointer;
  //   white-space: pre-wrap;
  //   width:80%;
  //   text-overflow:inherit;
  //   overflow:visible;
  // }
}
.linkFont {
  color: rgb(158, 158, 165);
}
.noticeList {
  height: 43px;
  /* padding-left: 30px; */
  padding: 0;
  &:hover {
    background-color: #e1f3ff;
    .noticeblank {
      background-color: #2497e5;
    }
    .noticeIcon {
      background-image: url('./image/localland_icon_10_highlighted.png');
    }
  }
}

// .noticeList &:hover{
//   background-color: black;
//   &.noticeblank{
//     background-color: #2497E5;
//   }
// }

.noticeItem {
  padding-left: 0.5em;
  color: rgba(0, 0, 0, 0.85);
}
.noticeblank {
  float: left;
  width: 3px;
  height: 100%;
  /* background-color: black;    */
  margin-right: 27px;
}

.noticeIcon {
  float: left;
  background: url('./image/localland_icon_10.png') no-repeat center;
  width: 34px;
  height: 100%;
  background-size: 100%;
}
.noticeClass {
  float: left;
  width: 95px;
  padding-left: 5px;
  text-align: center;
  line-height: 43px;
  color: rgba(0, 0, 0, 0.85);
}
.noticeNumber {
  float: left;
  width: 110px;
  padding-left: 5px;
  line-height: 43px;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
}
.noticeContent {
  float: left;
  width: 180px;
  padding-left: 5px;
  line-height: 43px;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.noticeDate {
  float: left;
  width: 110px;
  padding-left: 5px;
  text-align: center;
  color: rgb(158, 158, 165);
}
.noticeTag {
  float: left;
  width: 90px;
  font-size: 14px;
  line-height: 1.5em;
  padding-left: 5px;
  text-align: center;
}
.noticeTagIn {
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
}
.ant-statistic-title {
  margin-bottom: 0;
  font-size: 14px;
}
.linePaddingtop {
  padding-top: 20px;
  background-color: #ffffff;
  :global(.g2-tooltip) {
    background-color: #f5f5f5 !important;
  }
}
