@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.bodyDiv{
  a{
    color: #000;
  }
  a:hover{
    color: #1890FF ;
  }
  width: 100%;
  margin-top: 25px;
  border-top: 1.5px solid #235C98;
  .conn{
    width: 1200px;
    margin: 0 auto;
    .top{
      span{
        color: #000;
      }
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid #D5D5D5;
    }
    .info{
      // margin-top: 15px;
      .list{
        float: left;
        width: 880px;
        img{
          width: 100%;
        }
        .list_con{
          // border-top: 1px solid #D5D5D5;
          height: 120px;
          // margin-bottom: 20px;
          p{
            color: #000;
          }
          b{
            font-size: 18px;
          }
          .list_con_l{
            float: left;
            width: 83%;
            height: 100px;
            // margin-top: 20px;
          }
          
          .list_con_r{
            text-align: center;
            float: left;
            width: 15%;
            height: 120px;
            margin-left: 2%;
            // p{
            //   margin-top: 44px;
            // }
          }
        }
      }
      .sidebar{
        float: left;
        width: 280px;
        height: 430px;
        margin-left: 30px;
        background-color: #F2F4F6;
        .sidebar_title{
          width: 250px;
          margin: 0 auto;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #D5D5D5;
          span{
            font-size: 20px;
            color: #000;
          }
        }
        .sidebar_list{
          width: 250px;
          margin: 0 auto;
          margin-top: 15px;
          line-height: 30px;
          .sidebar_con{
            // width: 216px;
            height: 28px;
            line-height: 20px;
            margin-bottom: 5px;
            .iconDiv{
              height: 20px;
              width: 20px;
              background-color: #d5d5d5;
              float: left;
              color: #F2F4F6;
              text-align: center;
              font-size: 14px;
              border-radius:5px;
            }
            .textDiv{
              width: 220px;
              float: left;
              height: 30px;
            }
          }
          span{
            font-size: 14px;
            color: #000;
          }
        }
      }
    }
  }
}