@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.bodyDiv{
  a{
    color: #000;
  }
  a:hover{
    color: #1890FF ;
  }
  width:100%;
  margin: 25px auto 0;
  border-top: 1.5px solid #235C98;
  .conn{
    width: 1200px;
    margin: 0 auto;
    .top{
      span{
        color: #000;
      }
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #D5D5D5;
    }
    .info{
      margin-top: 15px;
      .list{
        float: left;
        width: 880px;
        .article {
          overflow: hidden;
          background-color: #fff;
          display: block;
          width: 90%;
          margin:0 auto;
        }
        .title {
          text-align: center;
          font-size: 22px;
          font-weight : 800;
          margin-top: 10px;
        }
        .info {
          width: 100%;
          text-align: center;
          font-size: 14px;
          font-weight : 300;
          border-bottom:1px solid #ddd;
          line-height: 48px;
        }
        .content {
          font-family:Microsoft YaHei;
          color: #000;
          width: 94%;
          margin:0 auto;
          text-indent: 2em;
          margin-top:20px;
          // text-align: center;
          font-size: 16px;
          font-weight : 400;
        }
        .content img{
          width: 90%;
        }
      }
      .sidebar{
        float: left;
        width: 280px;
        height: 430px;
        margin-left: 30px;
        background-color: #F2F4F6;
        .sidebar_title{
          width: 250px;
          margin: 0 auto;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #D5D5D5;
          span{
            font-size: 20px;
            color: #000;
          }
        }
        .sidebar_list{
          width: 250px;
          margin: 0 auto;
          margin-top: 15px;
          line-height: 30px;
          .sidebar_con{
            // width: 216px;
            height: 28px;
            line-height: 20px;
            margin-bottom: 5px;
            .iconDiv{
              height: 20px;
              width: 20px;
              background-color: #d5d5d5;
              float: left;
              color: #F2F4F6;
              text-align: center;
              font-size: 14px;
              border-radius:5px;
            }
            .textDiv{
              width: 220px;
              float: left;
              height: 30px;
            }
          }
          span{
            font-size: 14px;
            color: #000;
          }
        }
      }
    }
  }
}
// .bannerTitle{
//   position: relative;
//   background-color: rgba(0, 0, 0, 0.5);
//   bottom: 1px;
//   top: 300px;
//   line-height: 30px;
//   color: #F2F4F6;
//   font-size: 16px;
//   p{
//     text-indent: 20px;
//   }
// }