@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.bodyDiv{
  a{
    color: #000;
  }
  a:hover{
    color: #1890FF ;
  }
  
  width:100%;
  margin: 25px auto 0;
  border-top: 1.5px solid #235C98;
  .conn{
    width: 1200px;
    margin: 0 auto;
    .top{
      span{
        color: #000;
      }
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #D5D5D5;
    }
    .info{
      margin-top: 15px;
      .list{
        :global( .ant-tabs-tab){
          font-size: 16px;
        }
        :global( .ant-tabs-nav .ant-tabs-tab-active ){
          font-weight: 800;
        }
        :global(.ant-list-bordered){
          border: 1px solid #ffffff;
          border-bottom: 1px solid #d9d9d9;
        }
         button{
          border: 1px solid #ffffff;
          font-size: 16px;
        }
        width: 880px;
        float: left;
        img{
          width: 100%;
        }
        .list_banner{
          height: 350px;
        }
        .list_con{
          height: 80px;
          margin-bottom: 20px;
          p{
            color: #000;
          }
          b{
            font-size: 18px;
          }
          .list_con_l{
            float: left;
            width: 660px;
            height: 90px;
          }
          .list_con_r{
            text-align: center;
            float: left;
            width: 100px;
            height: 80px;
            margin-left: 60px;
            // p{
            //   margin-top: 40px;
            // }
          }
        }
      }
      .sidebar{
        float: left;
        width: 280px;
        height: 430px;
        margin-left: 30px;
        background-color: #F2F4F6;
        .sidebar_title{
          width: 250px;
          margin: 0 auto;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #D5D5D5;
          span{
            font-size: 20px;
            color: #000;
          }
        }
        .sidebar_list{
          width: 250px;
          margin: 0 auto;
          margin-top: 15px;
          line-height: 30px;
          .sidebar_con{
            // width: 252px;
            height: 28px;
            line-height: 20px;
            margin-bottom: 5px;
            .iconDiv{
              height: 20px;
              width: 20px;
              background-color: #d5d5d5;
              float: left;
              color: #F2F4F6;
              text-align: center;
              font-size: 14px;
              border-radius:5px;
            }
            .textDiv{
              width: 220px;
              float: left;
              height: 30px;
            }
          }
          span{
            font-size: 14px;
            color: #000;
          }
        }
      }
    }
  }
}
.bannerTitle{
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 1px;
  top: 300px;
  line-height: 30px;
  color: #F2F4F6;
  font-size: 16px;
  p{
    text-indent: 20px;
  }
}