@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.tableList {
  // tr td:first-child{
  //   min-width: 40px;
  //   max-width: 40px;
  // }
  // tr td:nth-child(2) {
  //   min-width: 30%;
  //   max-width: 30%;
  // }
  // tr td  {
  //   min-width:  15%;
  //   max-width:  15%;
  // }
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.tableListForm {
  :global {
    .ant-form-item {
      display: flex;
      margin-right: 0;
      margin-bottom: 24px;
      > .ant-form-item-label {
        width: auto;
        padding-right: 8px;
        line-height: 32px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}

.article {
  overflow: hidden;
  background-color: #fff;
  display: block;
  width: 90%;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  margin-top: 10px;
}
.info {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid #ddd;
  line-height: 48px;
}
.content {
  width: 94%;
  margin: 0 auto;
  text-indent: 2em;
  margin-top: 20px;
  // text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.content img {
  width: 90%;
}

/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}

.avatar-uploader > .ant-upload {
  width: 64px;
  height: 64px;
}
