@import '~antd/lib/style/themes/default.less';

.container {
  min-width: 768px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 32px 0;
}

@media (min-width: @screen-md-min) {
  .container {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }

  .content {
    padding: 32px 0 24px 0;
  }
}
a{
  color:#8b93a7;
}
.top {
  span{
    margin-left: 6%;
    color:black;
  }
  width: 1200px;
  height: 44px;
  margin: 0 auto;
  line-height: 44px;
  .logoDiv{
    width: 417px;
    float: left;
    // margin-left: 100px;
    // img{
    //   height: 100%;
    //   width: 100%;
    // }
    // .logo {
    //   float: left;
    //   height: 44px;
    //   // margin-left: 10%;
    //   vertical-align: top;
    // }
  }
  .login {
    img{
      max-width: 44px;
    }
    width: 200px;
    float: right;
    // margin-right: 10%;
    font-size: 14px;
    // span{
    //   margin-left: 6%;
    //   color:black;
    // }
  }
}

.bottom{
  color: #fff;
  background-color: #32363d;
  width: 100%;
  height: 125px;
  margin: 0 auto;
  span{
    color:#fff;
  }
  .bottom_top{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    .bottom_t_info{
      float: left;
      width: 220px;
      margin-right: 100px;
      span{
        color:#8b93a7;
      }
      .bt_info_top{
        color:#fff;
        height: 30px;
        font-size: 16px;
      }
      .tel{
        font-size: 14px;
      }
      .dyck{
        font-size: 11px;
      }
    }
    .bottom_t_wxImg{
      text-align:center;
      float: left;
      width: 220px;
      img{
        width: 90px;
      }
    }
  }
  // .bottom_bot{
  //   width: 80%;
  //   font-size: 11px;
  //   line-height: 25px;
  //   height: 25px;
  //   margin: 0 auto;
  //   .bottom_b_left{
  //     width: 60%;
  //     float: left;
  //     span{
  //       width: 12%;
  //       margin-right: 4%;
  //     }
  //   }
  //   .bottom_b_right{
  //     text-align: right;
  //     span{
  //       margin-left: 6%;
  //     }
  //     width: 34%;
  //     float: right;
  //   }
  // }
}